body {
	background-color: gray;
	color: #2A2735;
	opacity: .95;
	font-family: Helvetica;
}

.bg-image {
	background-image: url(../images/coffee_check.jpg);
	height: 60vh;
}

nav {
	background-color: #39A2AE;
	text-align: center;
	height: 5vh;
}

a:hover {
	text-decoration: none;
}